# Ignorar carpetas del IDE y archivos generados

/Java/Clase 1/CicloWhile/nbproject/private/
/Java/Clase 1/CicloWhile/build/
/Java/Clase 1/Break-Continue/nbproject/private/

# Ignorar archivos generados por la compilacion
*.class

# Ignorar otros archivos temporales
*.log

/Java/Clase 2/EjercicioCiclos01/nbproject/private/
/Java/Clase 2/EjercicioCiclos01/build/
/Java/Clase 2/EjercicioCiclos02/nbproject/private/
/Java/Clase 2/EjercicioCiclos02/build/
/Java/Clase 2/LeccionClasesObjetos/nbproject/private/
/Java/Clase 3/EjerciciCiclos03/nbproject/private/
/Java/Clase 3/EjerciciosCiclos3/nbproject/private/
/Java/Clase 3/EjerciciosCiclos03/nbproject/private/
/Java/Clase 3/EjerciciosCiclos03/build/
/Java/Clase 3/EjercicioCiclos04/nbproject/private/
/Java/Clase 3/EjercicioCiclos04/build/
/Java/Clase 3/EjercicioCiclos05/nbproject/private/
/Java/Clase 3/EjercicioCiclos05/build/
/Java/Clase 3/LeccionClasesObjetos/build/
/Java/Clase 4/EjercicioCiclos06/nbproject/private/
/Java/Clase 4/EjercicioCiclos06/build/
/Java/Clase 4/JavaApplication14/nbproject/private/
/Java/Clase 4/Aritmetica/nbproject/private/
/Java/Clase 4/EjercicioCiclos07/nbproject/private/
/Java/Clase 4/EjercicioCiclos07/build/
/Java/Clase 4/Aritmetica/build/
/Java/Clase 5/EjercicioCiclos08/nbproject/private/
/Java/Clase 5/EjercicioCiclos08/build/
/Java/Clase 5/EjercicioCiclos09/nbproject/private/
/Java/Clase 5/EjercicioCiclos09/build/
/Java/Clase 6/ProyectoCaja/nbproject/private/
/Java/Clase 6/ProyectoCaja/build/
/Java/Clase 6/HolaMundo/nbproject/private/
/Java/Clase 6/HolaMundo/build/
/Java/Clase 6/EjercicioCiclos10/nbproject/private/
/Java/Clase 6/EjercicioCiclos10/build/
/Java/Clase 7/EjercicioCiclos11/nbproject/private/
/Java/Clase 7/EjercicioCiclos11/build/
/Java/Clase 7/EjerciciosCiclos12/nbproject/private/
/Java/Clase 7/EjerciciosCiclos12/build/
/Java/Clase 7/Encapsulamiento/nbproject/private/
